@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");

@import "tailwindcss";
@import "tailwindcss-animated";
#root {
  margin: 0 30px;
  padding: 0;
  text-align: center;
}
